{% extends "base.html" %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}

<div class="login_div">

<TABLE BORDER="0">
<TR>
    <TD>
    {% if form.name.errors %}<p class="error">{{ form.name.errors }}</p>{% endif %}
    <p><label for="name" {% if form.name.errors %} class="error">{% endif %}>Username:</label></p>
    </TD>
    <TD><p>{{ form.name }}</p></TD>
</TR>

<TR>
    <TD>
    {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
    <p><label for="password" {% if form.password.errors %} class="error">{% endif %}>Password:</label></p>
    </TD>
    <TD><p>{{ form.password }}</p></TD>
</TR>

</div>

</TABLE>

<p><input type="submit" alt="login"/></p>
</form>
<p>Need an account? <a href='/register/'>Register</a></p>
<p>Forgot your password? <a href='/resetpassword/'>Reset it</a></p>


{% endblock %}
